<h1><%= @msg %></h1>

<table>
    <tr>
        <th>ID</th><th>学生番号</th><th>学生名</th>
    </tr>
    <% @data.each do |d| %>
        <tr>
            <td><%= d.id %></td>
            <td><%= d.gakuseino %></td>
            <td><%= d.name %></td>
        </tr>
    <% end %>
</table>