<h1><%= @msg %></h1>

<table>
    <tr>
        <th>ID</th><th>書籍名</th>
    </tr>
    <% @books.each do |b| %>
        <tr>
            <td><%= b.id %></td>
            <td><%= b.name %></td>
        </tr>
    <% end %>
</table>